* {
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
}

.control {
  display: flex;
  align-content: center;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: column;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.buttonLabel {
  margin: 0 15px;
}

.canvasContainer {
  display: flex;
  align-content: center;
  justify-content: center;

  margin: 25px;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#canvas {
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  image-rendering: optimizeSpeed;
  /* Older versions of FF          */
  image-rendering: -moz-crisp-edges;
  /* FF 6.0+                       */
  image-rendering: -webkit-optimize-contrast;
  /* Safari                        */
  image-rendering: -o-crisp-edges;
  /* OS X & Windows Opera (12.02+) */
  image-rendering: pixelated;
  /* Awesome future-browsers       */
  -ms-interpolation-mode: nearest-neighbor;
}